html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.wdgt-container {
    
    position: absolute;
    left:10%;
}
.widget {
    z-index:999;
    float:left;

}
.widget .widget-body
{
    min-height: 500px;
    min-width:400px;
    overflow-x:scroll;
    overflow-y:scroll;
}
    .widget .icon {
        float:left;
    }
    .widget .title {
        padding-left:25px;
    }
    .widget.minimize .panel-body{
        display:none;
    }
.tree.minimize .tree-body {
    display:none;
} 
.tree.minimize .tree-heading {
    cursor:pointer;
}
.tree .tree-heading .link {
    float:right;
}