html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.widget {
    z-index:20;
    position:absolute;
}