html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wdgt-container {
    position: fixed;
    width: 80%;
    opacity: 0.8;
    margin-left: 10%;
    margin-right: 10%;
}

.widget {
    position: fixed;
    width: 80%;
    opacity: 0.8;
    margin-left: 10%;
    margin-right: 10%;

    bottom: -20px;
    z-index: 999;
    float: left;
}
    .widget.minimize {
        bottom: -100px;
    }
    .widget .widget-body {
        height: 280px;
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
    }

    .widget .icon {
        float: left;
    }

    .widget .title {
        padding-left: 25px;
    }

    .widget.minimize .panel-body {
        display: none;
    }

.tree.minimize .tree-body {
    display: none;
}

.tree.minimize .tree-heading {
    cursor: pointer;
}

.tree .tree-heading .link {
    float: right;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999;
    opacity: 0.8;
    background-color: ActiveCaption;
}

    .loading img {
        width: 295px;
        height: 294px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -147px; /* Half the height */
        margin-left: -145px;
    }
